@import 'variables';

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  background-color: $color-background;
}
