@media only screen and (max-device-width: 600px) {
  .card {
    background: #bada55;
  }
  .xs-flex-basis {
    /* flex-grow: 0; */
    max-width: 50%;
    flex-basis: 50%;
    color: tomato;
  }
}

/* breakpoints: {
    values: {
      xs: 0,
      sm: 600,
      md: 960,
      lg: 1280,
      xl: 1920,
    }, */
