.slider {
  /* background-color: tomato; */
  height: 230px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #dad8d8;
}

.sliderInner {
  height: 100%;
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding-top: 24px;
}

.message .MuiTypography-h5 {
  font-weight: 800;
}
.message .MuiTypography-h6 {
  background-color: #ffe682;
}

.left {
  color: white;
  flex: 5%;
  height: 100%;
  /* background-color: rgba(3, 3, 3, 0.041); */
  display: grid;
  place-items: center;
}
.center {
  flex: 80%;
  height: 100%;
  /* flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding-top: 24px; */
}
.right {
  color: white;
  flex: 5%;
  height: 100%;
  /* background-color: rgba(3, 3, 3, 0.041); */
  display: grid;
  place-items: center;
}

@media only screen and (min-device-width: 500px) {
  .sliderInner {
    /* height: 100%; */
    /* width: 100%; */
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 60%;
    display: flex;
    /* background-image: url(/public/assets/slider_base.png); */
  }
}
